<div class="row"><div class="col-md-12"><h3>Synerzip</h3></div></div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="container">
    <div ui-view></div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Billeble vs Bench</div>
      <div class="panel-stage">
        <canvas id="tables" class="chart chart-line" data="data" labels="labels" colours="colours" legend="true"></canvas>
      </div>
      <div class="panel-notes">On Weekly Basis</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Billeble vs Bench</div>
      <div class="panel-stage">
        <canvas id="doughnut" class="chart chart-doughnut" data="data1" labels="labels1" legend="true"></canvas>
      </div>
      <div class="panel-notes">As of Today</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
      <div class="panel-title">PDX Project</div>
      <div class="panel-stage">
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" colours="colours"></canvas>
      </div>
      <div class="panel-notes">One of the most Active Projects</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
      <div class="panel-title">QuickOffice Project</div>
      <div class="panel-stage">
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" colours="colours"></canvas>
      </div>
      <div class="panel-notes">One of the most Active Projects</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
      <div class="panel-title">ECi Solutions Project</div>
      <div class="panel-stage">
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" colours="colours"></canvas>
      </div>
      <div class="panel-notes">One of the most Active Projects</div>
    </div>
  </div>
</div>
