<div class="row">
    <div class="col-xs-12 col-md-12">
        <form>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" >
                <div class="input-group-btn">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="row">
<div class="col-xs-12 col-md-4">
    <div class="panel-wrapper">
        <div class="panel-title">
            Abhishek Bhattacharya <span class="badge">QA Automation Lead</span>
        </div>
        <div class="panel-stage">
            <div class="row">
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">

                        </div>
                        <div class="panel-stage grey">
                            <img src="images/profile-male.png" class="img-responsive img-circle white">
                        </div>

                    </div>
                </div>
                <div class="col-xs-8 col-md-6">
                    <div class="panel-wrapper">
                        <div class="panel-title">

                        </div>
                        <div class="panel-stage">
                            QA Automation Lead with
                            <span class="badge">10+ years</span>

                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel-wrapper">
                        <div class="panel-title">
                            Skills
                        </div>
                        <div class="panel-stage">
                            <span class="badge">QA Automation</span>
                            <span class="badge">Android</span>
                            <span class="badge">iOS</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-notes">
            Works in Google Project
        </div>
    </div>
</div>
</div>