<div class="panel-wrapper">
  <form method="post" name="organizationsForm">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-title">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-title">Organization Name</div>
              <div class="panel-stage"><input type="text" ng-model="organization.name"  required="true"></div>
            </div>
          </div>
        </div>
        <div class="panel-stage">
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-wrapper">
                    <div class="panel-title">Total Employees</div>
                    <div class="panel-stage">
                      <input type="text" ng-model="organization.total_num_people" required="true">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-wrapper">
                    <div class="panel-title">Total Billable Employees</div>
                    <div class="panel-stage">
                      <input type="text" ng-model="organization.billable_headcount" required="true">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-wrapper">
                    <div class="panel-title">Bench Strength</div>
                    <div class="panel-stage">
                      <input type="text" ng-model="organization.bench_strength" required="true">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-wrapper">
                    <div class="panel-title">
                      <div class="row">
                        <div class="col-xs-8">Owners</div>
                        <div class="col-xs-4">
                          <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="addOwner()" title="Add Owners">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="panel-stage">
                      <ul><li ng-repeat="owner in organization.owners track by $index">
                          <input type="text" ng-model="owner.firstName" required="true" ng-readonly="true" >
                          <input type="hidden" ng-model="owner._id" required="true" >
                          <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteOwner(owner._id)">X</a>
                        </li>
                        <li ng-repeat="new in newOwner.name track by $index">
                          <input type="text" ng-model="newOwner.name[$index]" required="true" class="ownerClass" ng-keyup="autoCompleteOwner('ownerClass',$index)"  >
                          <input type="hidden" ng-model="newOwner.id[$index]" required="true" >
                          <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteOwnerField($index)">X</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-wrapper">
                    <div class="panel-title">
                      <div class="row">
                        <div class="col-xs-8">Projects</div>
                        <div class="col-xs-4">
                          <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="addProject()" title="Add Projects">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="panel-stage">
                      <div class="row">
                        <div class="col-xs-12">
                          <ul><li ng-repeat="projectTitle in organization.projects track by $index">
                              <input type="hidden" ng-model="projectTitle._id" required="true" >
                              <input type="text" ng-model="projectTitle.name" required="true" ng-readonly="true">
                              <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteProject(projectTitle._id)">X</a>
                            </li>
                            <li ng-repeat="new in newProject.name track by $index">
                              <input type="text" ng-model="newProject.name[$index]" required="true" class="projectClass" ng-keyup="autoCompleteProject('projectClass',$index)">
                              <input type="hidden" ng-model="newProject.id[$index]" required="true">
                              <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="deleteProjectField($index)">X</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-wrapper">
                <div class="panel-stage">
                  <button type="submit" class="btn btn-primary  text-left" ng-click="save()">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
